#!/bin/bash

# PostgreSQL backup script
# Managed by Ansible

BACKUP_DIR="{{ postgresql_backup_dir }}"
RETENTION_DAYS={{ postgresql_backup_retention }}
POSTGRES_USER="{{ postgresql_admin_user }}"
DATE=$(date +%Y-%m-%d_%H-%M-%S)

# Create a backup of all databases
/usr/bin/pg_dumpall -c -U ${POSTGRES_USER} | gzip > ${BACKUP_DIR}/pg_backup_${DATE}.sql.gz

# Set appropriate permissions
chmod 640 ${BACKUP_DIR}/pg_backup_${DATE}.sql.gz

# Remove backups older than retention period
find ${BACKUP_DIR} -name "pg_backup_*.sql.gz" -type f -mtime +${RETENTION_DAYS} -delete

exit 0