# CONNECTIONS AND AUTHENTICATION
listen_addresses = '{{ postgresql_listen_addresses }}'
port = {{ postgresql_port }}
max_connections = {{ postgresql_max_connections }}

# RESOURCE USAGE
shared_buffers = {{ postgresql_shared_buffers }}
work_mem = {{ postgresql_work_mem }}
maintenance_work_mem = {{ postgresql_maintenance_work_mem }}
effective_cache_size = {{ postgresql_effective_cache_size }}

# WRITE AHEAD LOG
wal_level = replica
synchronous_commit = on
checkpoint_timeout = 5min
max_wal_size = 1GB
min_wal_size = 80MB

# LOGGING
log_directory = '{{ postgresql_log_directory }}'
log_filename = '{{ postgresql_log_filename }}'
log_rotation_age = {{ postgresql_log_rotation_age }}
log_rotation_size = {{ postgresql_log_rotation_size }}
log_statement = 'none'
log_min_duration_statement = 1000
log_line_prefix = '%t [%p]: [%l-1] user=%u,db=%d,app=%a,client=%h '

# STATISTICS
track_activities = on
track_counts = on
track_io_timing = on
track_functions = all
stats_temp_directory = '/var/run/postgresql/{{ postgresql_version }}-main.pg_stat_tmp'

# CLIENT CONNECTION DEFAULTS
datestyle = 'iso, mdy'
timezone = 'UTC'
lc_messages = 'en_US.UTF-8'
lc_monetary = 'en_US.UTF-8'
lc_numeric = 'en_US.UTF-8'
lc_time = 'en_US.UTF-8'
default_text_search_config = 'pg_catalog.english'