[Unit]
Description=HashiCorp Vault
Documentation=https://www.vaultproject.io/docs/
After=network.target postgresql.service

[Service]
User={{ vault_user }}
Group={{ vault_group }}
ExecStart=/usr/bin/vault server -config={{ vault_config_dir }}/vault.hcl
ExecReload=/bin/kill --signal HUP $MAINPID
LimitNOFILE=65536
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target