storage "postgresql" {
  connection_url = "postgresql://{{ vault_db_user }}:{{ vault_db_password }}@{{ vault_db_host }}:{{ vault_db_port }}/{{ vault_db_name }}?sslmode=disable"
}

listener "tcp" {
  address     = "127.0.0.1:8200"
  tls_disable = {{ vault_tls_disabled | lower }}
}

api_addr = "{{ vault_api_addr }}"
cluster_addr = "{{ vault_cluster_addr }}"
ui = {{ ui | lower }}