storage "postgresql" {
  connection_url = "postgresql://{{ db_creds.VAULT_DB_USER }}:{{ db_creds.VAULT_DB_PASSWORD }}@localhost:5432/{{ db_creds.VAULT_DB_NAME }}?sslmode=disable"
}

listener "tcp" {
  address     = "127.0.0.1:8200"
  tls_disable = true
}

api_addr = "http://127.0.0.1:8200"
cluster_addr = "http://127.0.0.1:8201"
ui = true